<div class="container  pt-1">
    <mat-sidenav-container class="sidenav">
        <mat-sidenav #sidenav [mode]="mode.value">
            <mat-grid-list cols="2" rowHeight="43px">
                <mat-grid-tile class="mat-elevation-z8" [colspan]="1" [rowspan]="1">
                    <button mat-button (click)="sidenav.toggle()">
                        <mat-icon class="hamburguesa">reorder</mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <app-admin-navegacion>
            </app-admin-navegacion>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-grid-list cols="12" rowHeight="43px">
                <mat-grid-tile class="mat-elevation-z8" [colspan]="1" [rowspan]="1">
                    <button mat-button (click)="sidenav.toggle()">
                        <mat-icon class="hamburguesa-content">reorder</mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile class="mat-elevation-z8" [colspan]="11" [rowspan]="1">
                    <h1 class="titulo-negro">Sección: Materias</h1>
                </mat-grid-tile>
            </mat-grid-list>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 offset-md-2 text-left">
                                <mat-slide-toggle [checked]='checked' color="warn" (change)="cambiar()">
                                    <h5 *ngIf="checked">Agregar manual</h5>
                                    <h5 *ngIf="!checked">agregar desde archivo</h5>
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div *ngIf="!checked">
                            <app-add-materia>
                            </app-add-materia>
                        </div>
                        <div *ngIf="checked">
                            <app-add-materias>
                            </app-add-materias>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <app-listar-materias>
                        </app-listar-materias>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>