<div class="recuadroNav">
    <a class="nav-link tipografia collision-blue" routerLink="/admin/dashboard" routerLinkActive="active"><i class="fa fa-home"></i>Inicio</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/admin/profile" routerLinkActive="active"><i class="fa fa-user"></i>Mi Información</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/admin/materias" routerLinkActive="active"><i class="fab fa-buffer"></i>Materias</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/admin/profesores" routerLinkActive="active"><i class="fa fa-chalkboard-teacher"></i>Profesores</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/admin/grupos" routerLinkActive="active"><i class="fa fa-tasks"></i>Lista de Grupos</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/admin/docencia" routerLinkActive="active"><i class="fa fa-tasks"></i>Jefe de Docencia</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/admin/settings" routerLinkActive="active"><i class="fab fa-buffer"></i>Configuración</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <button mat-button color="warn" (click)="logOut()" class="tipografia collision-red"><i class="fa fa-arrow-circle-left"></i>Salir</button>
</div>