<div class="recuadroNav">
    <a class="nav-link tipografia collision-blue" routerLink="/estudiante/dashboard" routerLinkActive="active"><i class="fa fa-home"></i>Inicio</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/estudiante/profile" routerLinkActive="active"><i class="fa fa-user"></i>Mi Información</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/estudiante/groups" routerLinkActive="active"><i class="fa fa-chalkboard-teacher"></i>Mis grupos</a>
</div>
<mat-divider class="text-white"></mat-divider>
<!-- <div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/estudiante/groups" routerLinkActive="active"><i class="fa fa-chalkboard-teacher"></i>Calificaciones Finales</a>
</div> -->
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <button mat-button color="warn" (click)="logOut()" class="tipografia collision-red"><i class="fa fa-arrow-circle-left"></i>Salir</button>
</div>