<div class="recuadroNav">
    <a class="nav-link tipografia collision-blue" routerLink="/profesor/dashboard" routerLinkActive="active"><i class="fa fa-home"></i>Inicio</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/profesor/profile" routerLinkActive="active"><i class="fa fa-user"></i>Mi Información</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/profesor/groups" routerLinkActive="active"><i class="fa fa-users"></i>Mis Grupos</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/profesor/add/group" routerLinkActive="active"><i class="fa fa-plus-circle"></i>Agregar grupo</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/profesor/grafics" routerLinkActive="active"><i class="fa fa-chart-bar"></i>Gráficas</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <a class="nav-link tipografia collision" routerLink="/profesor/reports" routerLinkActive="active"><i class="fa fa-file-alt"></i>Descargar Listas</a>
</div>
<mat-divider class="text-white"></mat-divider>
<div class="recuadroNav">
    <button mat-button color="warn" (click)="logOut()" class="tipografia salir collision-red"><i class="fa fa-arrow-circle-left"></i>Salir</button>
</div>